

@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');


@media screen and(max-width:576px){
    .box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
        .box article{width:100%}
    
}

@media screen and(min-width:577px) and (max-width:900px){
    .box{display: flex;
        flex-wrap: wrap;
        }
        .box article{width: 50%;}
        .box article :first-child{width: 100%;}
    
} 

@media screen and(min-width:901px) and (max-width:1200px){
   
    
}
*{box-sizing: border-box;}
.novedad {color:rgb(109, 9, 9);
        background: rgb(184, 160, 109);
        text-align: center;
        font-weight: bold;
        padding: 1px;
        margin: 0;
        border:0;
        border-radius: 10px;
        position: sticky;
        top:0;
        }
header,footer{
    background: rgba(215, 191, 233, 0.7);
    color: #160B1D;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
}

header{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}
h1,h2,h3,h4{
    background: rgba(215, 191, 233, 0.7);
    color: #160B1D;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    
}


body{background: rgb(219, 215, 215); 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    overflow: scroll;
}
/*.serv{background: url(../img/portada.jpg), rgb(219, 215, 215);
background-size: 80%; background-position: center;
background-repeat: no-repeat;}*/
/*
p{
    font-size: 18px;
    color:#5C2E79;
    text-align: left;
    overflow:auto

}*/

a{
    text-decoration: none;
    color:#ffffff;


}
.lab{
    color:#5C2E79;
    text-decoration:underline;
    
}
.plan{
    color:#5C2E79;
    text-decoration:underline;
    
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
ul, ol{
    list-style: none;
   /* width: 100%;*/
}
.nav li {
    background-color: #58134f;
    color:#fff;
    padding: 10px 15px;
    display: block;
    border: 1px solid black;
    
    /*width: 20%;
    box-sizing: border-box;*/
    
}
.nav li a:hover {
    background-color: #434343;
}

.nav li a:active{
    background-color: #434343;
}
.nav >li{
    float:left;
}
    .nav li ul{
        display: none;
        position:absolute;
        min-width: 140px;
    }
    .nav li:hover > ul{display:block}

        .nav li ul li{
            position:relative;
        }
            .nav li ul li ul{
                right:-140px;
                top:0px;
            }
.fachada{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.imghosp{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.resid{
    list-style-type: lower-roman;
    color:#5C2E79;
}
.recgral{
    border: 2px solid grey;
    text-align:center
}
.reccardio{
    border: 2px solid grey;
    text-align:center
}
.recceliaco{
    border: 2px solid grey;
    text-align:center
}
.box{
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    }
    .box article{
        background: #9f79b66f;
        border-radius: 10px;
        margin-bottom: 10px;
        width: 20%;
        border: 1px solid black;
        
        padding: 1%;
        }  
    
          
        .noticia{
        
            width: 95%;
            }
            .noticia img{
                width: 100%;
                }
    
    .box h2{
        background: none;
        color: none;
        border: none;
        text-align: left;
    }

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario_atencion{
    font-weight: 700;
    border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario_radio{
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.formulario_grupo-input {
	position: relative;
}

.formulario_input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario_input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario_input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario_input-error-activo {
	display: block;
}

.formulario_validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario_checkbox {
	margin-right: 10px;
}

.formulario_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-activo {
	display: block;
}

.formulario_mensaje p {
	margin: 0;
}

.formulario_textarea,
.formulario_grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario_btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #9f79b66f;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario_btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario_mensaje-exito {
	font-size: 20px;
	color: #18810a;
	display: none;
}

.formulario_mensaje-exito-activo {
	display: block;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario_grupo-correcto .formulario_validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
	color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
	border: 3px solid #bb2929;
}
.cont{
    grid-column: span 2; 
}


@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario_grupo-terminos, 
	.formulario_mensaje,
	.formulario_grupo-btn-enviar {
		grid-column: 1;
	}
}